<div class="notes_container">
  <% @notes.each do |note| %>
    <h3><%= link_to note.title, note.url, :target => "_blank" %></h3>
    <h5><%= note.user.full_name.titleize %> &middot; <%= note.created_at.strftime("%D") %> at <%= note.created_at.strftime("%I:%M%P") %></h5>
    <p><%= note.thought %></p>
    <hr>
  <% end %>
</div>
