<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @note.title %>
</p>

<p>
  <b>Url:</b>
  <%= @note.url %>
</p>

<p>
  <b>User:</b>
  <%= @note.user_id %>
</p>

<p>
  <b>Ip address:</b>
  <%= @note.ip_address %>
</p>

<p>
  <b>User agent:</b>
  <%= @note.user_agent %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
