<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @project_entry.project_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @project_entry.comment %>
</p>

<p>
  <b>Start:</b>
  <%= @project_entry.start %>
</p>

<p>
  <b>End:</b>
  <%= @project_entry.end %>
</p>


<%= link_to 'Edit', edit_project_entry_path(@project_entry) %> |
<%= link_to 'Back', project_entries_path %>
