<%= form_for [@user, @project] do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: "Project Name" %>
  </div>
  <div class="field">
    <%= f.text_field :website, placeholder: "Website" %>
  </div>
  <div class="field">
    <%= f.text_field :git_repo, placeholder: "GitHub Repo" %>
  </div>
  <div class="field">
    <%= f.text_field :hourly, placeholder: "Hourly Rate" %>
  </div>
  <div class="field">
    <%= f.text_field :color, placeholder: "Color" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-red" %>
  </div>
<% end %>
