<h1 class="text-center"><%= @project.name %></h1>
<div class="text-center">
<%= link_to @project.website do %><i class="fa fa-globe fa-4x icon-session-action"></i> <% end %>
<%= link_to @project.git_repo do %><i class="fa fa-github fa-4x icon-session-action"></i> <% end %>
</div>
<br>
<center>
  <%= link_to user_project_project_entries_path(current_user, @project), :method => :post, class: "btn btn-mini btn-green" do %><i class="fa fa-plus fa-2x"></i><% end %>
</center>
<br>
<table class="table project-sessions-table kremlin-sortable">
  <thead>
    <tr>
      <th width="15%"><a href="#">Start</a></th>
      <th width="15%"><a href="#">End</a></th>
      <th width="10%"><a href="#">Date</a></th>
      <th>Comments</th>
    </tr>
  </thead>

  <% @project.project_entries.reverse.each do |entry| %>
    <tr>
      <td numerical-value="<%= entry.start.to_i %>"><%= entry.start.strftime("%A at  %l:%M%P") %></td>
      <td numerical-value="<%= entry.end.to_i %>">
        <% if entry.end.blank? %>
        <%= link_to edit_user_project_project_entry_path(current_user, @project, entry) do %><i class="fa fa-check-circle-o icon-session-action fa-2x"></i> <% end %>
        <% else %>
        <%= entry.end.strftime("%A at  %l:%M%P") %>
        <% end %>
      </td>
      <td numerical-value="<%= entry.start.to_i %>"><%= entry.start.strftime("%-m/%d/%y") %></td>
      <td>
        <%= entry.comment %>
        <%= link_to entry, method: :delete, data: { confirm: 'Are you sure?' } do %> <i class="fa fa-times-circle-o icon-session-action"></i> <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="text-center">
  <%= link_to 'Edit Project', edit_user_project_path(current_user, @project), class: "btn btn-yellow btn-mini" %>
  <%= link_to 'Delete Project', user_project_path(current_user, @project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-red btn-mini" %>
</div>