<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: "School Name" %>
  </div>
  <div class="field">
    <%= f.text_field :website, placeholder: "Website" %>
  </div>
  <div class="field">
    <%= f.text_field :facebook, placeholder: "Facebook" %>
  </div>
  <div class="field">
    <%= f.text_field :twitter, placeholder: "Twitter" %>
  </div>
  <div class="field">
    <%= f.text_field :wiki, placeholder: "Wikipedia" %>
  </div>
  <div class="field">
    <%= f.text_field :students, placeholder: "Number of Students" %>
  </div>
  <legend>Student Government</legend>
  <div class="field">
    <%= f.text_field :saf, placeholder: "Student Activity Fee" %>
  </div>
  <div class="field">
    <%= f.text_field :budget, placeholder: "SGA Budget" %>
  </div>
  <div class="field">
    <%= f.text_field :sga_website, placeholder: "SGA Website" %>
  </div>
  <div class="field">
    <%= f.text_field :sga_facebook, placeholder: "SGA Facebook" %>
  </div>
  <div class="field">
    <%= f.text_field :sga_twitter, placeholder: "SGA Twitter" %>
  </div>
  <div class="field">
    <%= f.text_field :newspaper, placeholder: "School Newspaper" %>
  </div>
  <legend>Competition?</legend>
  <div class="field">
    <%= collection_select(:school, :competitor_id, @competitors, :id, :name) %>
  </div>
  <div class="field">
    <%= f.text_field :latitude, placeholder: "Latitude" %>
  </div>
  <div class="field">
    <%= f.text_field :longitude, placeholder: "Longitude" %>
  </div>
  <div class="field">
    <%= f.label :private, "Private School?" %>&nbsp;
    <%= f.check_box :private %>
  </div>
  <div class="actions">
    <br>
    <%= f.submit "Submit", class: "btn btn-black" %>
  </div>
<% end %>
