<center><%= link_to 'New School', new_school_path, class: "btn btn-red" %></center><br>
<div class="school_cards_container">
  <% @schools.each do |school| %>
  <div class="school_card">
    <h3 class="text-center"><%= link_to school.name, school %></h3>
    <div class="fa-row row">
      <div class="col-xs-4">
        <%= link_to school.website do %><i class="fa fa-globe"></i><% end %>
      </div>
      <div class="col-xs-4">
        <%= link_to school.facebook do %><i class="fa fa-facebook"></i><% end %>
      </div>
      <div class="col-xs-4">
        <%= link_to school.twitter do %><i class="fa fa-twitter"></i><% end %>
      </div>
    </div>
    <h4><%= number_with_delimiter(school.students) %> Students</h4>
    <center><%= link_to "Wiki", school.wiki, class: "btn btn-green btn-mini" %></center><br>
    <h3 class="text-center">Student Government</h3>
    <div class="fa-row row">
      <div class="col-xs-4">
        <%= link_to school.sga_website do %><i class="fa fa-globe"></i><% end %>
      </div>
      <div class="col-xs-4">
        <%= link_to school.sga_facebook do %><i class="fa fa-facebook"></i><% end %>
      </div>
      <div class="col-xs-4">
        <%= link_to school.sga_twitter do %><i class="fa fa-twitter"></i><% end %>
      </div>
    </div>
    <h4><%= number_to_currency(school.budget, precision: 0) %></h4>
    <center><%= link_to "Paper", school.newspaper, class: "btn btn-mini btn-green" %></center>
    <hr>
    <center>
    <%= link_to 'Edit', edit_school_path(school), class: "btn btn-yellow btn-mini" %>
    <%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-red btn-mini" %>
    </center>
  </div>
  <% end %>
</div>




