<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @school.name %>
</p>

<p>
  <b>Website:</b>
  <%= @school.website %>
</p>

<p>
  <b>Facebook:</b>
  <%= @school.facebook %>
</p>

<p>
  <b>Twitter:</b>
  <%= @school.twitter %>
</p>

<p>
  <b>Wiki:</b>
  <%= @school.wiki %>
</p>

<p>
  <b>Private:</b>
  <%= @school.private %>
</p>

<p>
  <b>Students:</b>
  <%= @school.students %>
</p>

<p>
  <b>Saf:</b>
  <%= @school.saf %>
</p>

<p>
  <b>Budget:</b>
  <%= @school.budget %>
</p>

<p>
  <b>Sga website:</b>
  <%= @school.sga_website %>
</p>

<p>
  <b>Sga facebook:</b>
  <%= @school.sga_facebook %>
</p>

<p>
  <b>Sga twitter:</b>
  <%= @school.sga_twitter %>
</p>

<p>
  <b>Newspaper:</b>
  <%= @school.newspaper %>
</p>

<p>
  <b>Competitor:</b>
  <%= @school.competitor_id %>
</p>

<p>
  <b>Latitude:</b>
  <%= @school.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @school.longitude %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
