<h1 class="text-center"><%= @school.name %></h1>
<div class="container school_show_container">
  <h3 class="text-center">School</h3>
  <div class="fa-row row">
    <div class="col-xs-4">
      <%= link_to @school.website do %><i class="fa fa-globe"></i><% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to @school.facebook do %><i class="fa fa-facebook"></i><% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to @school.twitter do %><i class="fa fa-twitter"></i><% end %>
    </div>
  </div>
  <br>
  <center><%= link_to "Wiki", @school.wiki, class: "btn btn-green btn-mini" %></center>
  <br>
  <h4><b><%= @school.students %></b><br><small>Undergraduate Students</small></h4>
  <h4><b><%= number_to_currency(@school.saf) %></b><br><small>Student Activity Fee</small></h4>
  <h4><b><%= number_to_currency(@school.budget, precision: 0) %></b><br><small>SGA Budget</small></h4>
  <h3 class="text-center">Student Government</h3>
  <div class="fa-row row">
    <div class="col-xs-4">
      <%= link_to @school.sga_website do %><i class="fa fa-globe"></i><% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to @school.sga_facebook do %><i class="fa fa-facebook"></i><% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to @school.sga_twitter do %><i class="fa fa-twitter"></i><% end %>
    </div>
  </div>
  <br>
  <center><%= link_to "Paper", @school.newspaper, class: "btn btn-green btn-mini" %></center>
  <br>
  <h3 class="text-center">Competitor</h3>
  <h4><%= @school.competitor.name %></h4>
</div>
<br>