<div class="navigation">
  <div class="navinner">
    <% if user_signed_in? %>
    <%= link_to current_user do %><%= image_tag 'kremlinstar.png', class: "img-circle" %><% end %>
    <ul>
      <li><a href="/schools">Schools</a><%= link_to new_school_path  do %><small> <i class="fa fa-plus-circle"></i></small><% end %></li>
      <li><a href="/">Projects</a><%= link_to new_user_project_path(current_user)  do %><small> <i class="fa fa-plus-circle"></i></small><% end %></li>
      <li><a href="/people">People</a><%= link_to new_person_path  do %><small> <i class="fa fa-plus-circle"></i></small><% end %></li>
      <li><small><%= link_to users_path do %><i class="fa fa-circle"></i></small><% end %></li>
      <li><small><%= link_to destroy_user_session_path, :method => :delete do %><i class="fa fa-power-off"></i></small><% end %></li>
    </ul>
    <% else %>
    <a href="/"><%= image_tag 'kremlinstar.png', class: "img-circle" %></a>
    <ul>
      <li><a href="/login">Sign In</a></li>
      <li><a href="/register">Sign Up</a></li>
    </ul>
    <% end %>
  </div>
</div>