<!DOCTYPE html>
<html>
<head>
  <title>Kremlin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navigation">
    <div class="navinner">
      <center><a href="/"><%= image_tag 'kremlinstar.png', class: "img-circle" %></a></center>
    </div>
  </div>
<div class="container">
<%= yield %>
</div>
</body>
</html>
